@if (!isMobile) {
  <nav class="flex justify-center flex-col items-center pt-10 pb-5" (pointerleave)="hoverExpose(null)">
    <ul class="flex flex-row gap-7">
      @for (parentRoute of shownRoutes; track parentRoute.data.id) {
        <li>
          <a class="font-semibold text-3xl xl:text-4xl" (pointerover)="hoverExpose(parentRoute)"
             [routerLink]="parentRoute.route">{{ parentRoute.data.label }}</a>
        </li>
      }
    </ul>
    @if (exposedParent) {
      <ul class="flex flex-row mt-10 gap-10">
        @for (childRoute of exposedParent.children; track childRoute.data.id) {
          <li class="flex flex-col gap-3">
            <a [routerLink]="childRoute.route" class="font-semibold hover:underline">
              {{ childRoute.data.label }}
            </a>
            <ul>
              @for (grandChildRoute of childRoute.children; track grandChildRoute.data.id) {
                <li><a class="hover:underline text-sm"
                       [routerLink]="grandChildRoute.route">{{ grandChildRoute.data.label }}</a>
                </li>
              }
            </ul>

          </li>
        }
      </ul>
    }
  </nav>
}

@if (isMobile) {
  <nav class="flex pt-10 pb-5 px-3">
    <p (click)="menuLogic.opened = true">Open Menu</p>
    <div
      class="bg-white w-screen min-h-screen py-4 px-6 fixed top-0 left-0 transition-[translate] duration-400 ease-in-out"
      [ngClass]="{ 'translate-x-full': !menuLogic.opened }">
      <ul class="flex flex-col gap-7">
        <li class="text-3xl xl:text-4xl font-semibold" (click)="menuLogic.opened = false">Menu</li>
        @for (parentRoute of shownRoutes; track parentRoute.data.id) {
          <li>
            <a class="font-medium text-3xl xl:text-4xl" (click)="menuLogic.parent = parentRoute">{{ parentRoute.data.label }}</a>
          </li>
        }
      </ul>
    </div>
    <div
      class="bg-white w-screen min-h-screen py-4 px-6 fixed top-0 left-0 transition-[translate] duration-400 ease-in-out"
      [ngClass]="{ 'translate-x-full': !menuLogic.parent || !menuLogic.opened}">
      @if (menuLogic.parent) {
        <ul class="flex flex-col gap-7">
          <li class="text-3xl xl:text-4xl font-semibold" (click)="menuLogic.parent = null"><span class="material-symbols-outlined">arrow_back_ios</span> {{menuLogic.parent.data.label}}</li>
          @for (childRoute of menuLogic.parent!.children; track childRoute.data.id) {
            <li>
              <a class="font-medium text-3xl xl:text-4xl" (click)="menuLogic.subParent = childRoute">{{ childRoute.data.label }}</a>
            </li>
          }
        </ul>
      }
    </div>
    <div
      class="bg-white w-screen min-h-screen py-4 px-6 fixed top-0 left-0 transition-[translate] duration-400 ease-in-out"
      [ngClass]="{ 'translate-x-full': !menuLogic.subParent || !menuLogic.opened}">
      @if (menuLogic.subParent) {
        <ul class="flex flex-col gap-7">
          <li class="text-3xl xl:text-4xl font-semibold" (click)="menuLogic.subParent = null"><span class="material-symbols-outlined">arrow_back_ios</span> {{menuLogic.subParent.data.label}}</li>
          @for (childRoute of menuLogic.subParent!.children; track childRoute.data.id) {
            <li>
              <a class="font-medium text-3xl xl:text-4xl" (click)="menuLogic.opened = false"
                 [routerLink]="childRoute.route">{{ childRoute.data.label }}</a>
            </li>
          }
        </ul>
      }
    </div>
  </nav>
}
